<li class="row border-bottom">
    <div class="col">
        <p>{{ message.email }} </p>
    </div>
    <div class="col">
        <button class="btn bg_primary text-white mt-2" type="button" data-bs-toggle="modal" data-bs-target="#message-modal-{{ message.id }}">Ouvrir</button>
    </div>
        

        <!-- Modal -->
        <div class="modal fade text-black" id="message-modal-{{ message.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header row">
                <h1 class="col modal-title fs-5 text-center" id="exampleModalLabel"> {{ message.email }} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start col">
                <div class="row">
                    {{ message.message }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Répondre</button>
                
            </div>
            </div>
        </div>
        </div>
    
</li>